1.write the rules for creating variablus.
  - start with alfa numaric careter.
  - not @#$
  -except _ .
  -key words con't used.

2.what is type funtion.
  - type funtion used to identifiy type of data present in variblue.

In [1]:
z = "a","b","c"
print(z)
type(z)

('a', 'b', 'c')

tuple

2.what is deffrence between singe =, and ==.

In [2]:
a = 10
b = 10
a == b

True

3.what is deffrence bw mutabul immutabul.
  - mutabul can change , update ,modifiy.
  - ex,string
  - immutabul we can change .
  - ex,tuple.

4.write a python code to print first 10 natural number loop.

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
a = 1
while a<=10:
 print(a)
 a+=1

1
2
3
4
5
6
7
8
9
10

5.write a python program sum of first natural numbers.

In [18]:
n = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in n:
  sum = sum+i
print(sum)

55

In [38]:
n=1
sum=0
while n<=10:
  sum=sum+n
  n+=1
print(sum)

55