# 1)**what is python and why is it popular**

   - python is a general purpose programming language.

   - Python is easy to learn and has a relatively straightforward syntax.

# 2)what is an IDE and name a few popular python IDEs.

   - IDE -intergrated development enviroment.

   - juypter
   
   -google colab.

# 3)what are rules for naming variables in python.

  - they can be alphanumeric.

  - they cannot start with digits,keywords and special chareters.

  - excpet _ and  .

# 4) how do you assign multipule values to multipule variables in a single line?

In [6]:
p,q ,r= 25,34,42

print(p)
print(q)
print(r)

25
34
42

# 5)can you use python keywords as varible names ? why or why not?

  - no we can use python keywords as varible names.

  - if we use we get error.

# 6)why are the comments important in programming?

  - it help us to understand the cord easy.

  - it is essential part of programming language.

# 7) what are the basic data types in python?

  - there are four basic data types

  - integer

  - floot

  - complex

  - bool

# 8) how do you convert a string to an integer in python?

In [7]:
number = "25"
number = int(number)
print(number)

25

# 9) what is difference between int and floot?

   - int = 4,5,7,9.
   -floot = 4.4,77.4,57.3.

# 10) how do you check the data type of a varible?
  
  - by using type function.

In [8]:
a = 45
type(a)

int

# 11) how do you add an element to a list?

  - by using append method

In [9]:
f = ["apple","banana","cherry"]
f.append("orange")
print(f)

['apple', 'banana', 'cherry', 'orange']

# 12) how do you creat tuple with one element?
  
  - by using (,)

In [10]:
a = (8,)
print(type(a))

<class 'tuple'>

# 13) how do you access a value in a dictionary using a key?

In [12]:
a = {"m":12,"n":23,"o":45}
print(a["m"])

12

# 14) how do you access element in a list.

In [13]:
a = [1,2,3,4,5]
print(a[2])

3

# 15)how do you access a character in a string?

In [14]:
a = "hello"
print(a[3])

l

# 16) how do you format string in python?

In [15]:
name = "raju"
age = 25
print(f"my name is {name} and my age is {age}")

my name is raju and my age is 25

# 17) what is a tuple and how is it different from list?

   -  tuples are immutable objects, lists are mutable.
   
   - This means tuples cannot be changed while lists can be modified.

# 18) how do you concantenate two tuples?

In [17]:
a = (12,2,45,85)

b = (49,7,65,967)

c = a + b

print(c)

print(type(c))

(12, 2, 45, 85, 49, 7, 65, 967)
<class 'tuple'>

# 19) how do you access values in dictinary?

In [22]:
 x = {"m":12,"n":23,"o":45}
 print(x["n"])

23

# 20) how do you add a key value pair to a dictionary?

In [21]:
q = {"m":12,"n":23,"o":45}
q["p"] = 56
print(q)

{'m': 12, 'n': 23, 'o': 45, 'p': 56}

# 21) how do you remove a key-value pair to a dictionary?

In [26]:
g = {"m":12,"n":23,"o":45}
g.pop("n")
print(g)
print(type(g))

{'m': 12, 'o': 45}
<class 'dict'>

# 22) how do you add a element to a set?

In [25]:
s = {1,2,3,4,5}
s.add(6)
print(s)

print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# 23) how do remove a element from a set?

In [28]:
s1 = {1,2,3,4,5}
s1.remove(3)
print(s1)

print(type(s1))

{1, 2, 4, 5}
<class 'set'>

# 24)what are the common set operations in pythone?

  - Mathematical set operations like union, intersection, and difference can be performed on them.

# 25) write a python program to find the index of an element in a tuple?

In [31]:
t = (1,2,3,4,5)
print(t.index(4))

t1 = ("a","b","c","d")
print(t1.index("d"))

print(type(t))
print(type(t1))

3
3
<class 'tuple'>
<class 'tuple'>