# 1)**write a python program to identify primenumber.**

In [ ]:
x = int(input("enter a number: "))
if x > 1:
    for i in range(2,int(x/2+2)) :

       if (x % i) == 0 :
              print("it is not a prime number")
              break

    else :
           print("it is a prime number")

enter a number: 23
it is a prime number

# 2)**write a python program fibonacci series of given number.**

In [107]:
r = int(input("enter a number:"))
a = 0
b = 1
s = 0
for x in range(r):
  print(s,end=" ")
  s = a+b
  b = a
  a = s

enter a number:11
0 1 1 2 3 5 8 13 21 34 55

#**3)write a python porgram to identify factoriyal number of given number.**

In [111]:
m = int(input("enter a number:"))
factorial = 1
for n in range(1,m+1):
  factorial=factorial*n

  print(factorial)

enter a number:5
1
2
6
24
120

#**4)write a python program to print multiplication table of given number.**

In [75]:
t = int(input("enter a number:"))
for v in range(1,11):


  print(t,'x',v,'=',t*v)

enter a number:11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

#**5) write a python program to count total number of digits in a number.**

In [78]:
a = int(input("enter a number:"))

count = 0
for i in str(a):

  count+=1
  print(count)

enter a number:452315464
1
2
3
4
5
6
7
8
9

#**6) write a python program to print list in reverse using loop.**

In [96]:
a = [1,2,4,5,8,9,23,56,90]
r = []
for b in reversed(a):
    r.append(b)
    print(b)

90
56
23
9
8
5
4
2
1

#**7)write a python program to disply from -10 to -1 using loop.**

In [97]:
m = range(-10,0)
for n in m:
  print(n)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1